{
  "id": "052a1537-b6b8-461f-8f2c-4cae23ceffb6",
  "version": "2.0",
  "name": "smoke-tests",
  "url": "https://labs.trimet.org",
  "tests": [
  ],
  "suites": [{
    "id": "9dce5ddb-fb63-4b88-89d1-bf6e207764a5",
    "name": "Smoke Tests",
    "persistSession": false,
    "parallel": true,
    "timeout": 300,
    "tests": []
  }],
  "urls": ["https://labs.trimet.org/"],
  "plugins": []
}